<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252333600569-bh6j3mmnciotptip1l6m1t6eo627fikt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252333600569-bh6j3mmnciotptip1l6m1t6eo627fikt</string>
	<key>API_KEY</key>
	<string>AIzaSyAsbuCtbxo14lKFtbiPUppvdHX_1tKaGBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>252333600569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodluyoruz.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-dde58</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-dde58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252333600569:ios:a01fafbd597b54c1</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-clone-dde58.firebaseio.com</string>
</dict>
</plist>